{% extends 'base.html.twig' %}

{% block title %}New brand{% endblock %}

{% block body %}
    <h1>New Product</h1>
    {{ form_start(varForm) }}
        <button type="submit">Save</button>
    {{ form_end(varForm) }}
{% endblock %}
